@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
/* Remove margins and padding from the list */
*{
    margin: 0;
    padding: 0;
}

/* My Nav Bar */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B8860B;
    position: relative;
    position: fixed;
    z-index: 2;
    box-shadow: 2px 2px 15px black;
    width: 100%
}

/* Float the list items side by side */
ul.topnav li {float: right;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: white;
    text-align: right;
    padding: 16px 22px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    font-family:'Alef Hebrew',Arial, verdana, 'sans serif';
    text-shadow:3px 3px 5px black;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #86620b}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: left;
    display: inline-block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    left: 0;
    top: 0;
    float: left;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: right;
  }
}
/* End of Navbar*/
/* Second Bar - Addres*/
#addres{
    text-align: center;
    background-color:#5a2d0c;
    float: left;
    padding: 20px 5px 5px 5px;
    max-width: 100%;
    min-width: 100%;
    max-height: 80px;
    box-shadow: 2px 2px 15px black;
}
#addres p{
    font-size: 16px;
    font-family:'Alef Hebrew', Arial, verdana, 'sans serif';
    text-shadow:3px 3px 5px black;
    color:  #f3c6a5;
    display:inline-block;
    padding: 10px;
}
#addres a {
    color:  #f3c6a5;
    text-decoration: none;
}
/* Part one of the Webpage */
div .headline{
    display: block;
    background: url("../imgs/netahim/img-topbackground1.png");
    background-size: cover; 
    -webkit-background-size: cover;
    height:700px;
    margin-top: -30px;
}

/* Main Headline */
.headline h1{
    padding-top: 20px;
    font-size: 270px;
    text-align: center;
    height: 300px;
    font-family: 'Alef Hebrew', Arial, verdana, 'sans serif';
    text-shadow:5px 5px 8px black;
    color: white;
    width: 90%;
}
.headline h2{
    padding-top: 100px;
    font-size: 90px;
    text-align: left;
    padding-left: 250px;
    height: 37px;
    font-family: 'Alef Hebrew', Arial, verdana, 'sans serif';
    text-shadow:5px 5px 8px black;
    color: white;
}
/* Kosher Mark */
#kosher{
    margin:25px 0px 100px 20px ;
    width:60px;
    height:58px;
    border:50%;
    font-size:22px;
    color:#fff;
    line-height:55px;
    text-align:center;
    box-shadow: 5px 2px 10px black;
    background:#5a2d0c;
    border:3px solid;
    font-family: 'Alef Hebrew', Arial, verdana, 'sans serif';
    text-shadow:3px 3px 5px black;
}
/* Sarona Logo */
#sarona img{
    width: 90px;
    height: 96px;
}
#sarona{
text-align: left;
height: 10px;
}

/* Bubbles of Facebook + Gmail + Pinterest */
#bubbles1 img{
    text-decoration: none;
    width: 36px;
    height: 36px;
}
div #bubbles1 li{
    text-decoration: none;
    text-align: right;
    position: fixed;    
    padding-top: 250px;
    padding-left: 1300px;
}
#bubbles2 img{
    text-decoration: none;
    width: 36px;
    height: 36px;
}
div #bubbles2 li{
    text-decoration: none;
    text-align: right;
    position: fixed;    
    padding-top: 200px;
    padding-left: 1300px;
}
#bubbles3 img{
    text-decoration: none;
    width: 36px;
    height: 36px;
}
div #bubbles3 li{
    text-decoration: none;
    text-align: right;
    position: fixed;    
    padding-top: 150px;
    padding-left: 1300px;
}

/* Start of Part Two */
div #partTwo{
    display: block;
    background: url("../imgs/netahim/partTwoBackground.png")no-repeat center center fixed;
    background-size: cover; 
    -webkit-background-size: cover;
    height:1100px; 
    min-height: 600px;
    padding-top: 80px;
}
#partTwo ul{
    text-align: center;
}
/*Main Headline */
#partTwo h3{
    padding-bottom: 50px;
    text-align: center;
    font-size: 100px;
    color:#cc9966;
    font-family: 'Alef Hebrew', Arial, verdana, 'sans serif';
    text-shadow:2px 2px 5px black;
}
 /*buttom white line - numbers */
span{
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 25px;
}
/* Second Headlines */
#partTwo li h4{
    font-size: 38px;
    padding-bottom: 30px;
    text-shadow:1px 1px 2px black;
}
/* Info */
#headlineaboutUl li{
    padding:35px;
    display: inline-block;
    margin: 5px;
    max-width: 430px;
    height: 300px;
    text-align: center;
    font-size:20px;
    color:#cc9966;
    font-family: 'Alef Hebrew', Arial, verdana, 'sans serif';
    text-shadow:2px 2px 5px black;
}

/* Start of Part Three */
div #partThree{
    display: block;
    background: url("../imgs/netahim/partThreeBackground.jpg")no-repeat center center fixed;
    background-size: cover; 
    -webkit-background-size: cover;
    text-align: center;
    height:730px;
    margin-top: -20px;
}
/*Main Headline */
#partThree h3{
    padding-top: 200px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: 'Alef Hebrew', Arial, verdana, 'sans serif';
    text-shadow:2px 2px 5px black;
}
/* Info */
#partThree p{
    width: 70%;
    font-size:25px;
    color:white;
    font-family: 'Alef Hebrew', Arial, verdana, 'sans serif';
    margin: auto;
    text-shadow:2px 2px 5px black;
}

/* Start of Part Four */
div #partFour{
    display: block;
    background: url("../imgs/netahim/partFourBackground.jpg");
    background-size: cover; 
    -webkit-background-size: cover;
    height:650px;
}

.fadein {
 position: relative;
 width:800px; 
 height:450px;
 padding-top:20px;
 margin: auto;
 text-align: center;
}

.fadein img {
    position:absolute;
    width: 800px;
    height: 450px;
    margin: auto;
    box-shadow: 5px 2px 20px black;
}
/* Start of Part Five */
div #partFive{
    display: block;
    background: url("../imgs/netahim/partFiveBackground.jpg")no-repeat center center fixed;
    background-size: cover; 
    -webkit-background-size: cover;
    height:1000px;
    padding-left: 150px;
    display: inline-block;
}
/* Main headline */
#partFive h3{
    padding-bottom: 20px;
    padding-top: 50px;
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: 'Alef Hebrew', Arial, verdana, 'sans serif';
    text-shadow:2px 2px 5px black;
    
}
.inLine{
    display: inline-block;
    float: left;
}
/* Recapices imgs */
#partFive img{
    width: 330px;
    height: 220px;
    display: inline-block;
    float:left;
}

/* Start of Part Six */
div #partSix{
    display: block;
    background: url("../imgs/netahim/partBackground.jpg")no-repeat center center fixed;
    background-size: cover; 
    -webkit-background-size: cover;
    text-align: center;
    height:1140px;
}
/* Main Headline */
#partSix h3{
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: 'Alef Hebrew', Arial, verdana, 'sans serif';
    text-shadow:2px 2px 5px black;
}
/* bookmark Img */
#partSix img {
    width: 70px;
    height: 50px;
    float:right; 
    padding-left:20px;
}
#partSix #info {
    display: inline-block;
    padding-bottom: 
}
/* Info */
#partSix #info p #one {
    padding-top:10px;
}
#partSix #info p #two{
padding-top:17px;"
}
#partSix #info p {
    padding-bottom: 10px;
    width: 500px;
    font-size:20px;
    color:white;
    font-family: 'Alef Hebrew', Arial, verdana, 'sans serif';
    text-align: right;
    margin: auto;
    text-shadow:2px 2px 5px black;
}
#partSix #info a {
    color:white;
    text-decoration: none;
}
#partSix #info a:hover{
    text-shadow: 0px 0px;
}
#map {
height: 500px;
width: 500px;
}
/* Go To Top Arrow */
#goToTop{
    text-align: center;
}
#goToTop p{
    text-align: center;
    color:white;
    font-family: 'Alef Hebrew', Arial, verdana, 'sans serif';
    font-size:16px;
    margin: auto;
    padding-top: 10px;
}
#span2{
    border:3px solid white;
}
.glyphicon{
    padding: 10px;
}

/* Final Bar - Copyright */
#copyright{
    text-align: center;
    background-color: black;
}
#copyright p{
    font-size: 16px;
    font-family:'Alef Hebrew', Arial, verdana, 'sans serif';
    text-shadow:3px 3px 5px black;
    color:  #f3c6a5;
    display:inline-block;
    padding: 15px;
    padding-top: 10px;
}

/* End Of Style */