@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
/* Remove margins and padding from the list */
*{
    margin: 0;
    padding: 0;
}
/* My Nav Bar */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B8860B;
    position: relative;
    position: fixed;
    z-index: 2;
    box-shadow: 2px 2px 15px black;
    width: 100%
}
/* Float the list items side by side */
ul.topnav li {float: right;}
/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: white;
    text-align: right;
    padding: 16px 22px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 24px;
    font-family:'Alef Hebrew',Arial, verdana, 'sans serif';
    text-shadow:3px 3px 5px black;
}
/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #86620b}
/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: left;
    display: inline-block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    left: 0;
    top: 0;
    float: left;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: right;
  }
}
/* End of Navbar*/
/* Second Bar - Addres*/
#addres{
    text-align: center;
    background-color:#5a2d0c;
    float: left;
    padding: 20px 5px 5px 5px;
    max-width: 100%;
    min-width: 100%;
    max-height: 80px;
    box-shadow: 2px 2px 15px black;
}
#addres p{
    font-size: 16px;
    font-family:'Alef Hebrew', Arial, verdana, 'sans serif';
    text-shadow:3px 3px 5px black;
    color:  #f3c6a5;
    display:inline-block;
    padding: 10px;
}
#addres a {
    color:  #f3c6a5;
    text-decoration: none;
}
/* body css */
body{
    display: block;
    background: url("../imgs/Recapice/RecapiesFourBackground.jpg");
    background-size: cover; 
    background-size: cover; 
    -webkit-background-size: cover;
    height: 100%
}
/* Tabs Style */
.bubbles a img{
    width:215px;
    height:140px;
    margin: 2px;
}
.bubbles li{
    display: inline-block;
    text-decoration: none;
}
.bubbles ul{
    padding: 10px 0px 0px 0px;
}

/* Netahim Imgs - Grow pic */
.grow img {
    width: 307px;
    height: 200px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.grow img:hover {
  width: 350px;
  height: 230px;
}
.pic {
    height: 200px;
    width:305px;
    overflow: hidden;
    margin: 50px;
    border: 5px solid white;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;
}

/*Margin text and img in-line*/
#picLong {
    margin-top: 140px;
}
#picLong1 {
    margin-top: 350px;
}
#picLong2 {
    margin-top: 460px;
}
#picLong3 {
    margin-top: 430px;
}
#picLong4 {
    margin-top: 330px;
}
#picLong5 {
    margin-top: 80px;
}
/* In-line Tabs */
#matcon div, #matcon1 div, #matcon2 div{
    display:inline-block;
    float: left;
}
/* text area css */
.headline{
    height: 250px;
    padding: 20px 70px 0px 70px;
}
.headline h4{
    font-size: 36px;
    padding-bottom: 5px;
    text-shadow:1px 1px 2px black;
    color:white;
    font-family: 'Alef Hebrew', Arial, verdana, 'sans serif';
    text-align: center;
    border-bottom: 1px solid white;
    padding-right: 160px;
    padding-left: 160px;
    padding-top: 40px;
}
.headline p{
    padding-top: 30px;
    text-align: right;
    font-size:20px;
    color:white;
    font-family: 'Alef Hebrew', Arial, verdana, 'sans serif';
    text-shadow:1px 1px 2px black;
}

/* End Of Style */